.package-form {
    max-width: 80%;
    background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: auto;
}

.form-title {
    font-size: 2rem;
    font-weight: 700;
    color: #083344;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: #1c3d5a;
    text-align: left;
    margin-bottom: 6px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    transition: all 0.3s ease;
}

textarea {
    resize: none;
    height: 90px;
}

.facility-item {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.remove-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.add-btn {
    background: linear-gradient(135deg, #057a55, #06976b);
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
}

.submit-btn {
    background: linear-gradient(135deg, #057a55, #034733);
    color: white;
    width: 100%;
    padding: 16px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 12px;
}

.just{
    margin-top: 100px;
    cursor: pointer;
}