.blog-container{
    position: fixed;
    height: 92.7vh;
    top: 60px;
    left: 0;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
}

.blog-main{
    height: auto;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 140px;
    width: 90%;
}

.blog-heading{
    margin-top: 30px;
    margin-bottom: 30px;
}