.hamburger{
    display: none;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .open{
        display: none;
    }

    .hamburger{
        display: inline-block;
    }

    .close{
        position: absolute;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
        background-color: rgba(209, 220, 217, 0.879);
        animation: slideDown 0.8s ease-out;                                                            
    }
}
