/* .package-card {
    width: 100%;
    max-width: 320px;
    background: linear-gradient(to right, #0f766e, #15803d);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.package-card:hover {
    transform: scale(1.05);
}

.thumbnail-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    color: #f0fdfa;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.package-name {
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.destination {
    font-size: 1rem;
    font-weight: 500;
    color: #d1fae5;
}

.price {
    font-size: 1rem;
    font-weight: 600;
    color: #bbf7d0;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.rating-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-text {
    font-size: 0.9rem;
    color: #f0fdfa;
}

.explore-link {
    font-size: 0.9rem;
    font-weight: 600;
    color: #f0fdfa;
    transition: color 0.2s ease-in-out;
}

.explore-link:hover {
    color: #d1fae5;
} */

.package-card {
    margin: 15px;
    padding: 10px;
}


.card-content{
    padding-left: 10px;
    padding-right: 10px;
}