.package-header{
    padding-top: 100px;
    padding-bottom: 40px;
    background-image: url();
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.package-form{
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}

.package-btn{
    margin-top: 20px;
}

.package-delete-btn{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}