.success-page {
    padding: 24px;
}

.back-home-btn {
    margin-top: 20px;
    padding: 10px 20px;
}


.failure-page {
    padding: 24px;
}

.back-home-btn {
    margin-top: 20px;
    padding: 10px 20px;
}
